<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bootstrap" version="3.3.7" targetFramework="net452" />
  <package id="bootstrap.TypeScript.DefinitelyTyped" version="0.9.2" targetFramework="net452" />
  <package id="jQuery" version="3.1.1" targetFramework="net452" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="3.1.2" targetFramework="net452" />
  <package id="knockout.amd.helpers.TypeScript.DefinitelyTyped" version="0.1.5" targetFramework="net452" />
  <package id="Knockout.Mapping" version="2.4.0" targetFramework="net452" />
  <package id="knockout.mapping.TypeScript.DefinitelyTyped" version="0.2.8" targetFramework="net452" />
  <package id="knockout.postbox.TypeScript.DefinitelyTyped" version="0.2.5" targetFramework="net452" />
  <package id="knockout.TypeScript.DefinitelyTyped" version="1.1.5" targetFramework="net452" />
  <package id="Knockout-AMD-Helpers" version="0.7.3" targetFramework="net452" />
  <package id="knockoutjs" version="3.4.0" targetFramework="net452" />
  <package id="Knockout-Postbox" version="0.5.0" targetFramework="net452" />
  <package id="RequireJS" version="2.3.2" targetFramework="net452" />
  <package id="requirejs.TypeScript.DefinitelyTyped" version="0.4.4" targetFramework="net452" />
  <package id="Sammy.js" version="0.7.5" targetFramework="net452" />
  <package id="sammyjs.TypeScript.DefinitelyTyped" version="0.3.0" targetFramework="net452" />
</packages>